*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Переменные популярных цветов */

:root {
  --main-white-color: white;
  --main-gray-color: #545050;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: var(--main-white-color);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

/* Стили content */

.content {
  display: flex;
  align-items: flex-end;
  inline-size: 1140px;
  gap: 30px;
}

.content__accent {
  color: var(--main-gray-color);
}

.content__card-link {
  padding: 2px;
  margin: 2.5px;
  display: block;
  text-decoration: none;
  color: var(--main-white-color);
}

.content__card-link_current {
  background-color: var(--main-gray-color);
}

.content__video-card-title {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 100%;
}

.content__list {
  block-size: 298px;
  overflow: auto;
  position: relative;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-position: center;
  object-fit: cover;
}

.content__video-card-description-container {
  width: 100%;
  inline-size: 200px;
}

.content__video-card-description {
  line-height: 90%;
}

/* Стили search */

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 19px;
  block-size: 19px;
  margin-right: 5px;
  border: 1px solid var(--main-white-color);
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__textfield {
  padding: 0;
  inline-size: 225px;
  block-size: 27px;
  appearance: none;
  border: none;
  border-top: 1px solid var(--main-white-color);
  border-bottom: 1px solid var(--main-white-color);
  font-family: inherit;
  color: var(--main-white-color);
  font-size: 18px;
  background-color: transparent;
}

.search-form__submit-button {
  align-self: flex-end;
}

/* Стили result */

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
  cursor: pointer;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

/* Вспомогательный селектор */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Стили button */
.button {
  inline-size: 194px;
  block-size: 34px;
  border: 1px solid var(--main-white-color);
  background: transparent;
  color: var(--main-white-color);
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.more-button {
  inline-size: 98%;
  margin: 0 auto;
  display: block;
}

/* Состояния элементов */

.button:focus,
.search-form__label:focus,
.content__card-link:focus,
.search-form__textfield:focus {
  outline: none;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox {
  border: 3px double var(--main-gray-color);
  background-color: var(--main-white-color);
}

.search-form__label:has(:focus-visible) .search-form__textfield:not(:active),
.button:focus-visible,
.search-form__checkbox-list .search-form__label:has(:focus-visible),
.content__card-link:focus-visible {
  outline: 1px solid var(--main-white-color);
  outline-offset: 2px;
}

.search-form__label .search-form__textfield:focus-visible {
  outline: none;
  border: 1px double var(--main-white-color);
}

.search-form__checkbox-list .search-form__label:hover,
.content__card-link:hover:not(:active),
.button:hover {
  text-decoration: underline;
}

.button:active,
.content__card-link:active {
  background: var(--main-gray-color);
}
